@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela round";
  color: #ffffff;
}

body {
  background: rgb(196, 92, 119);
  background: linear-gradient(
    180deg,
    rgba(196, 92, 119, 1) 0%,
    rgba(247, 197, 110, 1) 100%
  );
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0 2rem;
}

.navbar-text {
  font-size: 2rem;
  text-transform: uppercase;
}

.btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0px solid #000000;
}

::placeholder {
  color: #000000;
}
.wrapper-today {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.list-week {
  width: 100%;
  display: flex;
  list-style: none;
  margin-top: 2rem;
  text-align: center;
  justify-items: center;
}

.list-week li {
  border: 2px solid transparent;
}
.list-week li.active {
  border: 2px solid #ffffff;
}

.change-temp {
  display: flex;
}

.change-temp li button {
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
}
.change-temp li button.active {
  border: 2px solid #ffffff;
}

.list-today li {
  display: none;
}

.list-today li.active {
  display: block;
}
