@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela round";
  color: #ffffff;
}

body {
  background: rgb(196, 92, 119);
  background: linear-gradient(
    180deg,
    rgba(196, 92, 119, 1) 0%,
    rgba(247, 197, 110, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-text {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.search-input {
  display: flex;
  background-color: #ffffff;
  border-radius: 40px;
  overflow: hidden;
}

.search-input input,
.search-input button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.search-input input {
  padding-left: 15px;
  background-color: transparent;
  color: #000000;
}

.search-input button {
  background-color: #fdd46a;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.wrapper-today {
  display: flex;
  flex-direction: row;
  width: 600px;
}

.wrapper-today .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.wrapper-today .left img {
  height: 110px;
  display: block;
}

.wrapper-today .left .description {
  font-size: 150%;
  padding-top: 2rem;
}

.wrapper-today .right {
  flex: 1;
}

.wrapper-today .right .temp {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.wrapper-today .right .stats {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 30px;
}

.wrapper-today .right .stats .icon {
  font-size: 200%;
  padding: 20px 0 5px;
}

.wrapper-today .right .stats .value span {
  font-size: 80%;
  padding-left: 2px;
}

.wrapper-today .right .min-max {
  padding: 15px 10px;
  font-size: 80%;
}

.wrapper-today .right .min {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.wrapper-today .right .big {
  font-size: 4rem;
}

.list-week {
  display: flex;
  list-style: none;
  margin-top: 2rem;
  text-align: center;
  justify-items: center;
}

.list-week li {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px 20px;
}
.list-week li.active {
  border: 2px solid #ffffff;
}

.list-week li:hover {
  border: 2px solid #eeeeee;
}

.change-temp {
  display: flex;
  list-style: none;
}

.change-temp li button {
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.change-temp li button.active {
  border: 1px solid #ffffff;
}

.list-today li {
  display: none;
}

.list-today li.active {
  display: block;
}

.list-today {
  display: block;
}

.list-week .day {
  font-size: 80%;
  padding-top: 5px;
}

.list-week .temp .max {
  padding-left: 3px;
}
